$main-color: black;
$main-color2: white;
$main-color3: #5dbaaf;
$main-color4: #2e756b;
$main-font: 'PT Sans', sans-serif;



/* BASE */ 

* {
	margin: auto;
	padding: auto;
}

body {
	background-image: url('images/layout/background.gif');
	background-color: #2e756b;
	background-repeat: repeat;
	font-family: $main-font !important;
}

nav ul li { 
	text-decoration: none;
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: auto;
}

h1 {
	font-family: $main-font;
	font-weight: 500 !important;
	color: $main-color2 !important;
}


/* unvisited link */
a:link {
	text-decoration: none;
}

/* visited link */
a:visited {
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: none;
}

/* selected link */
a:active {
	text-decoration: none;
}

/* LAYOUT */ 

.align-center {
	text-align: center;	
	margin: auto;
}

.light-background {
	background-color: $main-color3;
}

.gif-background {
	background-image: url('images/layout/background.gif');	
}

.border {
  border: solid 2px $main-color4;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  background-color: $main-color3;
  width: 30%;
  padding-top: 10px;	
}

.nav-location {
	float: right;
}

.mobile-nav {
	color:$main-color2;
	background-color: $main-color3;
	width: 200px;
	font-size: 2em;
	margin-bottom: 10px;
	padding-top: 6px;
}

.header-style {
	font-size: 6em;
	font-family: $main-font;
	font-weight: 700;
}

/* MODULE */ 
/* STATE */ 
/* THEME */ 

/* GALLERY STYLES */

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: $main-color3;
	color: $main-color4;
	
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: $main-color2;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: $main-color4;
	color: $main-color2;
	font-family: $main-font !important;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}





/* FORM */
input,textarea {
	display:block;
	margin-bottom: 15px;
	width: 100%;
	border: black solid 1px;
}

label {
	margin-bottom: 0px;	
}

.error{
	color:blue;
}

form{
	width:100%;
}