$main-color: black;
$main-color2: white;
$main-color3: #5dbaaf;
$main-color4: #2e756b;
$main-font: 'PT Sans', sans-serif;



/* BASE */ 

* {
	margin: auto;
	padding: auto;
}

body {
	background-image: url('images/layout/carterg-twined-painting.jpg');
	background-color: black;
	background-repeat: repeat;
	font-family: $main-font !important;
}

nav ul li { 
	text-decoration: none;
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: auto;
}

h1, h2, h3, h4 {
	font-family: $main-font;
	font-weight: 500 !important;
	color: black !important;
}

/* unvisited link */
a:link {
	text-decoration: none;
}

/* visited link */
a:visited {
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: none;
}

/* selected link */
a:active {
	text-decoration: none;
}

/* LAYOUT */ 

.align-center {
	text-align: center;	
	margin: auto;
}

.align {
	margin: auto;
}

.light-background {
	background-color: white;
}

.gif-background {
	background-image: url('images/layout/carterg-twined-painting.jpg');	
}

.main-nav {
	background-color: white;
	font-size: 1.5em;
	padding-top: 8px;
	padding-bottom: 1px;
	padding-left: 9px;
	padding-right: 9px;
	color: black;
}

.main-nav:hover {
	color: white;
	background-color: black;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 5px;
}

.content-style {
	color: $main-color2;
}

.content-link-style a {
	color: white;
	background-color: black;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.content-link-style a:hover {
	color: $main-color2;
	background-image: url('images/layout/carterg-twined-painting.jpg');
	text-decoration: none;
}

.border {
	border: 1px solid black;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  background-color: white;
  width: 30%;
  padding-top: 10px;	
}

.nav-location {
	float: right;
}

.mobile-nav {
	color:black;
	background-color: white;
	width: 200px;
	font-size: 2em;
	margin-bottom: 10px;
	padding-top: 6px;
}

.header-style {
	font-size: 6em;
	font-family: $main-font;
	font-weight: 700;
}

.header-style a {
	color: $main-color2 !important;
	font-family: $main-font !important;
	font-size: 1em;
}

.header-style a:hover {
	color: black !important;
	font-family: $main-font !important;
	text-decoration: none;
	font-size: 1.1em;
}

.footer-body {
	background-color: black;
	font-size: 2em;
}

.footer-body h1 {
	font-size: .8em;
	background-image: url('images/layout/carterg-twined-painting.jpg');	
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.footer-body a {
	color: black;
}

.footer-body a:hover {
	color: black;
	background-color: white;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 5px;
}

.border-style {
 	 border-bottom: solid 5px black;
	padding-bottom: 5px;
 	 width: 45%;
}

.special-link-style {
	border-bottom: solid 4px $main-color2;
	padding-bottom: 2px;
 	width: 45%;
	color: $main-color2;
}

.special-link-style:hover {
	border-bottom: solid 4px black;
	padding-bottom: 2px;
 	width: 45%;
	color: blacks;
	text-decoration: none;
}
	

.links-style {
	color: black;
	text-decoration: underline !important;
}

.links-style:hover {
	color: black;
	border: 1px solid black;
	text-decoration: underline !important;
}

/* MODULE */ 
/* STATE */ 
/* THEME */ 

/* GALLERY STYLES */

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 840px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: white;
	color: black;
	
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: black !important;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background-color: black;
	
	color: $main-color2;
	font-family: $main-font !important;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}





/* FORM */
input,textarea {
	display:block;
	margin-bottom: 15px;
	width: 100%;
	border: black solid 1px;
	font-family: $main-font;
}

label {
	margin-bottom: 0px;	
	color: $main-color2 !important;
	font-size: 1.3em;
}

input {
	background-color: $main-color2;	
}
.error{
	color:blue;
}

form{
	width:100%;
}



/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 0px) and (max-width : 620px ) {

	.mobile-header {
		font-size: 2em;
	}

.border-mobile {
  border-bottom: solid 3px black;
  width: 60%;
 	
}
	
.main-nav {
	font-size: 1em;
}
	
.h2-mobile-style {
	font-size:1.3em;
}

.border-style {
	font-size: 1.8em;
}
	
}